{
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2017
  },

  "env": {
    "es6": true
  }
}
